body{
    background-color: #0093c9;
    height: 100%;
    margin: 0;
}

#home_wrapper{
    margin-top: 250px;
    height: 95%;
    background-color: #0ba1bc;
}
#home_title{
    text-align: center;
    font-family: Arial;
    color: white;
    font-size: 40px;
    background-color: #287aad;
    letter-spacing: 7px;
}
#home_button_container {
    align-items: center;
    padding: 10px 9%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: #77B6EA;
    overflow-y: auto;
}

#home_button_container > a {
    border: 2px solid white;
    border-radius: 20px;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 230px;
    height: 80px;
    float: left;
    background: #287aad;   
    margin: 20px 57.5px 20px 57.5px;
    text-align: center;
    
}

#home_button_pre{
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-family: Arial;
    line-height: 1.25;
    padding-top: 34px;
    padding-bottom: 16px;
}

a{
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-family: Arial;
    line-height: 1.25;
    padding-top: 50px;
}
a:link{
    text-decoration: none;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

a:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #51b9e6;

}

a:visited{
    text-decoration: none;
}