@font-face{
    font-family: "neonlights";
    src: url("Fonts/neonlights.ttf");
}

html {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(pictures/landingbg.jpg) no-repeat 50% 50%;
    background-attachment:fixed;
    display: table;
    top: 0;
    background-size: cover;
}

#head{
    color: gold;
    font-size: 20px;
    position:fixed;
    text-align: left;
    margin-left: 3%;
    height: 10%;
    margin-top: 0px;
    top: 0;
}
.title{
    text-align: center;
    font-family: 'neonlights', sans-serif;
    text-shadow: 6px 6px 8px black;
    -webkit-text-stroke: 1px black;
    color: gold;
    font-size: 40px;
    letter-spacing: 7px;
}

.wrapper{
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    position:inherit;
}

a{
    color: darkgoldenrod;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: 20%;
}


.grid-item{
    border-radius: 25px;
    border-style: dotted;
    border-width: 5px;
    border-color: goldenrod;
    width: 250px;
    height: 100px;
    text-align: center;
    vertical-align: center;
    line-height: 30px;
    background-color: rgba(45, 0, 130, 0.4);
    display: inline-grid;
    margin-left: 20px;
}

.grid-item:hover{
    border-style: solid;
    box-shadow: 6px 6px 6px 8px black;
}

.menu_container{
    width 100%;
    display: grid;
    justify-content: space-evenly;
}

.row{
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/**


#home_button_container {
    align-items: center;
    padding: 10px 9%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: #77B6EA;
    overflow-y: auto;
}

#home_button_container > a {
    border: 2px solid white;
    border-radius: 20px;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 230px;
    height: 80px;
    float: left;
    background: #287aad;   
    margin: 20px 57.5px 20px 57.5px;
    text-align: center;
    
}

#home_button_pre{
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-family: Arial;
    line-height: 1.25;
    padding-top: 34px;
    padding-bottom: 16px;
}

a{
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-family: Arial;
    line-height: 1.25;
    padding-top: 50px;
}
a:link{
    text-decoration: none;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

a:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #51b9e6;

}

a:visited{
    text-decoration: none;
}
**/