html {
    height: 100%;
    width: 100%;
    margin: auto;
    background:linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8) ), url(pictures/lights.jpg) no-repeat 50% 50%;
    background-attachment:fixed;
    top: 0;
    background-size: cover;
}

body{
    font-size: 20px;
}

.container{
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    display: block;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

ul {
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
ul img{
    height: 30px;
    width: inherit;
    display: inherit;
}

ul img:hover{
  -webkit-filter: drop-shadow(6px 6px 10px #000000);
  filter: drop-shadow(6px 6px 10px #000000);
}

ul li {
    float: right;
}

li a {
    font-size: 13px;
    font-family: Gtek;
    letter-spacing: 2px;
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    transition: 0.25s;
    font-size: 15px;
    color: darkgoldenrod;
    text-shadow: 6px 6px 10px #000;
}

#title{
    color: gold;
    font-size: 40px;
    text-shadow: 2px 2px 4px grey;
    text-align: center;
    letter-spacing: 4px;
    font-family: Arial;
}

.section{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    color: darkslategray;
}


.section_title{
    font-size: 25px;
    text-decoration: bold;
    color: goldenrod;
}

.content{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 20px;
    color: antiquewhite;
}

b{
    color: darkgoldenrod;
}

a{
    color: gold;
}

a:hover{
    font-size: 22px;
    animation-delay: 0.5s;
}